
body {
    background-color: #ccc;
    margin: 0;
    font-family: "Arial";
}

table {
	font-size: 12px;
	border: solid 2px #000;
	border-collapse: collapse;
}

tr:nth-child(2n) {
	background-color: #eee;
}

tr:nth-child(2n+1) {
	background-color: #fff;
}

th, td {
	padding: 5px;
	border: solid 1px #000;
}

th {
	background-color: #F00;
}

#befoglalo {
    width: 960px;
    margin: auto;
    border: solid 10px #fff;
    background-color: #f1f1f1;
}

#fejlec {
    text-align: center;
    background-color: #c00;
    border-bottom: solid 10px #fff;
}

#fejlec h1 {
   margin: 0;
    padding: 20px;
}

#menu {
    width: 200px;
    float: left;
    text-transform: uppercase;
}

#menu ul {
    padding: 0;
}

#menu li {
    list-style-type: none;
    display: block;
    margin-bottom: 2px;
}

#menu a {
    color: #000;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #c00;
}

#menu a:hover {
    color: #fff;
    background-color: #000;
}

#menu a.aktiv {
    color: #fff;
    background-color: #000;
}

#tartalom {
    min-height: 400px;
    margin: 20px 220px;
}

#tartalom h2 {
    font-size: 18px;
    margin-top: 0;
    border-bottom: 1px solid #c00;
}

#tartalom p {
    text-align: justify;
}

#oldalsav {
    float: right;
    width: 200px;
    margin-top: 20px;
}

#oldalsav h3 {
    font-size: 18px;
    margin-top: 0;
    border-bottom: 1px solid #c00;
}

#lablec {
    clear: left;
    color: #fff;
    background-color: #090;
    text-align: center;
    padding: 10px;
    border-top: solid 10px #fff;
}
